<!DOCTYPE html>
<html>
<head>
    <title>Đăng ký</title>
    <link rel="stylesheet" type="text/css" href="/static/dangnhap.css">
    <link rel="shortcut icon" type="image/x-icon" href="assets\img\favicon.png">
</head>
<body>
    <div class="login-box">
        <h1>Đăng nhập</h1>
        <form>
            <div class="user-box">
                <input type="text" name="username" required="">
                <label>Tên đăng nhập</label>
            </div>
            <div class="user-box">
                <input type="text" name="username" required="">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Mật khẩu</label>
            </div>
            <button>Đăng ký</button>
        </form>
        <p>Bạn đã có tài khoản <a href="dangnhap.html">Đăng nhập</a></p>
        <!-- <div class="social-login">
            <a href="#" class="google-btn">
                <img src="google-logo.png" alt="Google">
                Đăng nhập với Google
            </a>
            <a href="#" class="facebook-btn">
                <img src="facebook-logo.png" alt="Facebook">
                Đăng nhập với Facebook
            </a>
        </div> -->
    </div>
</body>
</html>